$pink-color: #B1748F;
$dark-gray-color: #333333;
$light-gray-color: #999999;
$off-white-color: #dbdbdb;

//mixins
@mixin flexParent() {
  display: flex;
  flex-flow: row wrap;
}

@mixin hoverColor() {
  &:hover {
    background-color: $pink-color;
    a {
      color: white;
    }
  }
  a {
    text-decoration: none;
     color: $light-gray-color;
  }
}

h1,h3{
  color: $off-white-color;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 20px;
  background: url("http://www.texturex.com/albums/Brick-Textures/brick%20wall%20texture%20black%20white%20grey%20wallpaper%20stock%20photo.jpg") no-repeat center;
  background-size: 3000px;
}


#root {
  @include flexParent();
  .entryBox {
    @include flexParent();
    background-color: $dark-gray-color;
    opacity: .7;
    width: 200px;
    justify-content: center;
    padding: 20px;

    form {
      @include flexParent();
      flex: 0 0 200px;
      input {
        flex: 0 0 170px;
        margin: 1px;
      }
      button {
        font-family: inherit;
        border-style: none;
        background-color: $light-gray-color;
        color: white;
        margin: 10px;
        flex: 0 0 50px;
        &:hover {
          background-color: $pink-color;
        }
      }
    }
  }
}

ul {
  @include flexParent();
  li {
    flex: 0 0 200px;
    list-style: none;
    padding: 10px;
    margin: 5px;
    background-color: $dark-gray-color;
    opacity: .7;
    text-align: center;

    a {
      text-decoration: none;
      color: $light-gray-color;
      &:hover {
        color: white;
      }
    }
  }
}

#linkContainer {
  @include flexParent();
  margin: 20px;

  .homePage {
    flex: 0 0 200px;
    background-color: $dark-gray-color;
    opacity: .7;
    margin: 5px;

    padding: 10px;
    text-align: center;
    @include hoverColor();
  }
}

#newPage {
  padding-left: 20px;
  @include flexParent();
  .addNew {
    @include flexParent();
    flex: 0 0 120px;
    justify-content: center;
    height: 70px;
    margin-left: 30px;
    background-color: $dark-gray-color;
    opacity: .7;
    padding: 5px;

    @include hoverColor();

  }
}

.container {
  width: 100%;
}

.field {
  color: white;
}
