extends ./layout.pug

//- Include the mixins file
include ./mixins.pug


block title
  title Articles/Products/Express
block body

  if home
    h1#header #{home}



  else
    h1#header #{page}

    if page == 'Product Page'

      div#root
        div#currentProductsBox
          ul
            +productList(products)
    else
      div#root
        div#currentArticlesBox
          ul
            +articlesList(articles)