extends ./layout.pug

//- Include the mixins file
include ./mixins.pug


block title
  title Articles/Products/Express
block body

  if home
    h1#header #{home}
      div#linkContainer
        div#articlePage.homePage
          a(href ='/articles')
            h5 Article Home
        div#productPage.homePage
          a(href ='/products')
            h5 Product Home

  else
    h1#header #{page}

    if page == 'Product Page'

      div#root
        div#currentProductsBox.container
          +productList(products)
      div#newPage
        div.addNew
          a(href= 'products/new')
            h3 Add New Product

    else
      div#root
        div#currentArticlesBox.container
          +articlesList(articles)
      div#newPage
        div.addNew
          a(href= 'articles/new')
            h3 Add New Article