doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='stylesheet' type='text/css' href='/css/styles.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
    block title
  body
    block body
