extends ./layout.pug

block title
  title Articles/Products/Express
block body

  if home
    h1#header #{home}

  else
    h1#header #{page}
    div#root
      div.entryBox
        if page == 'Product Page'
          form(method='put' action='#')
            input(placeholder='enter new name' name='name')
            input(placeholder='enter new price' name='price')
            input(placeholder='enter new inventory number' name='inventory')
            input(placeholder='enter id' name='idNum')
            button#send Edit

          form(method='delete' action='#')
            input(placeholder='enter id' name='idNum')
            button#send Delete

        else
          form(method='put' action='#')
            input(placeholder='enter article title' name='title')
            input(placeholder='enter article' name='body')
            input(placeholder='enter article author' name ='author')
            button#send Edit

          form(method='delete' action='#')
            input(placeholder='enter article title' name='title')
            button#send Delete

      if entered
        div
          p Your Product was entered
