h1, h3 {
  color: #dbdbdb; }

body {
  font-family: 'Lato', sans-serif;
  padding: 20px;
  background: url("http://www.texturex.com/albums/Brick-Textures/brick%20wall%20texture%20black%20white%20grey%20wallpaper%20stock%20photo.jpg") no-repeat center;
  background-size: 3000px; }

#root {
  display: flex;
  flex-flow: row wrap; }
  #root .entryBox {
    display: flex;
    flex-flow: row wrap;
    background-color: #333333;
    opacity: .7;
    width: 200px;
    justify-content: center;
    padding: 20px; }
    #root .entryBox form {
      display: flex;
      flex-flow: row wrap;
      flex: 0 0 200px; }
      #root .entryBox form input {
        flex: 0 0 170px;
        margin: 1px; }
      #root .entryBox form button {
        font-family: inherit;
        border-style: none;
        background-color: #999999;
        color: white;
        margin: 10px;
        flex: 0 0 50px; }
        #root .entryBox form button:hover {
          background-color: #B1748F; }

ul {
  display: flex;
  flex-flow: row wrap; }
  ul li {
    flex: 0 0 200px;
    list-style: none;
    padding: 10px;
    margin: 5px;
    background-color: #333333;
    opacity: .7;
    text-align: center; }
    ul li a {
      text-decoration: none;
      color: #999999; }
      ul li a:hover {
        color: white; }

#linkContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 20px; }
  #linkContainer .homePage {
    flex: 0 0 200px;
    background-color: #333333;
    opacity: .7;
    margin: 5px;
    padding: 10px;
    text-align: center; }
    #linkContainer .homePage:hover {
      background-color: #B1748F; }
      #linkContainer .homePage:hover a {
        color: white; }
    #linkContainer .homePage a {
      text-decoration: none;
      color: #999999; }

#newPage {
  padding-left: 20px;
  display: flex;
  flex-flow: row wrap; }
  #newPage .addNew {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 120px;
    justify-content: center;
    height: 70px;
    margin-left: 30px;
    background-color: #333333;
    opacity: .7;
    padding: 5px; }
    #newPage .addNew:hover {
      background-color: #B1748F; }
      #newPage .addNew:hover a {
        color: white; }
    #newPage .addNew a {
      text-decoration: none;
      color: #999999; }

.container {
  width: 100%; }

.field {
  color: white; }
